@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-bg: hsl(240, 5%, 4%);
	--secondary-bg: hsl(240, 9%, 7%);
	--tertiary-bg: hsl(240, 13%, 10%);
	--tertiary-lightened-bg: hsl(240, 13%, 16%);
	--primary-input: hsl(240, 8%, 12%);
	--primary-accent: hsl(342, 75%, 55%);
	--primary-text: hsl(0, 0%, 97%);
	--primary-placeholder: hsl(0, 0%, 80%);
	--reaction-hover-border: hsl(230, 33.4%, 18.7%);
	--reaction-hover: hsl(230, 31.2%, 12.5%);
	--reaction-active-border: rgb(88,101,242);
	--primary-danger: hsl(359, 66.7%, 54.1%);
}

* {
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}